<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reminder Event</title>
    <style>
        .container {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .content-page {
            width: 550px;
        }

        .sub-title {
            margin-top: -10px;
            margin-bottom: 20px;
            font-weight: bold;
            color: black;
        }

        .text-center {
            text-align: center;
        }

        .box-content {
            background-color: #eeeeee;
            padding: 10px 20px;
            border-radius: 10px;
        }

        .box-content p {
            margin-bottom: 10px;
        }

        /* Style untuk tombol */
        button {
            background-color: #4caf50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #45a049;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="content-page">
            <h2 class="text-center sub-title">
                Remind to complete the your payment
            </h2>
            <div class="box-content">
                <p>Hi <%= username %> ,</p>
                <p>
                    I hope you are fine. I would like to remind you of the pending
                    payment for "<%= event_title %>". We appreciate your cooperation in
                        resolving this obligation as soon as possible.
                </p>
                <p><strong>For Event:</strong></p>
                <ul style="list-style-type: none; padding-left: 0">
                    <li>
                        <strong>Event:</strong>
                        <%= event_title %>
                    </li>
                    <li>
                        <strong>Date:</strong>
                        <%= date %>
                    </li>
                    <li>
                        <strong>Time:</strong>
                        <%= time %>
                    </li>
                    <li>
                        <strong>Location:</strong>
                        <%= place %>
                    </li>
                </ul>
                <!-- <div class="text-center">
                    <a href=<%=linkTicket %>>
                        <button>Our Website</button>
                    </a>
                </div> -->
                <p>
                    Please process this payment to avoid further delays. You can do it
                    on our website, login>pesanan saya>pembayaran. If you have any
                    questions or concerns regarding this payment, please feel free to
                    contact us.
                </p>
                <p>
                    Thank you for your attention in this matter. We hope to receive your
                    payment in the near future.
                </p>
            </div>
            <p>Regards,<br />Your Event Team</p>
        </div>
    </div>
</body>

</html>